.donde{
    display: flex;
    position: relative;
    .celu{
        position: relative;
        height: 100%;
        margin-left: 15%;
        top: -120px;
    }
    .texto{
        margin-left: 8%;
        width: 500px;
        .h1{
            font-family: 'IBM Plex Sans 300', sans-serif;
            font-size: 50px;
        }
        .text{
            font-size: 20px;
            margin-top: 25px;
            font-family: 'IBM Plex Mono', monospace;
        }
    }
}
@media (max-width: 500px){
    .donde{
        display: inline;
        position: relative;
        max-width: 100%;
        .celu{
            position: relative;
            align-items: center;
            height: 510px;
            width: 100%;
            margin-left: 0%;
            top: -70px;
        }
        .texto{
            position: relative;
            top: -40px;
            margin: 14px;
            width: 90%;
            .h1{
                font-family: 'IBM Plex Sans 300', sans-serif;
                font-size: 36px;
            }
            .text{
                font-size: 14px;
                margin-bottom: 5px;
                font-family: 'IBM Plex Mono', monospace;
            }
        }
    }
}