.episodios{
    .titu{
        font-size: 50px;
        color: white;
        margin-left: 201px;
        margin-top: 180px;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    .reproduccion{
        margin: 25px;
        display: grid;
        grid-template-areas: 
        'ep1 ep2'
        'ep3 ep4'
         ;
        .r1{
            height: 260px;
            margin-left: 75px;
            margin-bottom: 75px;
            grid-area: ep1;
        }
        .r2{
            height: 260px;
            margin-left: 75px;
            margin-bottom: 75px;
            grid-area: ep2;
        }
        .r3{
            height: 260px;
            margin-left: 75px;
            margin-bottom: 75px;
            grid-area: ep3;
        }
        .r4{
            height: 260px;
            margin-left: 75px;
            margin-bottom: 75px;
            grid-area: ep4;
        }
        .r1-sm,.r2-sm,.r3-sm,.r4-sm{
            visibility: hidden
        }
    }
}
@media(max-width: 500px){
    .episodios{
        .titu{
            font-size: 36px;
            color: white;
            margin-left: 16px;
            margin-top: 64px;
            font-family: 'IBM Plex Sans', sans-serif;
        }
        .reproduccion{
            margin: 0px;
            display: flex;
            flex-direction: column;
            .r1,.r2,.r3,.r4{
                display: none;
            }
            .r1-sm,.r2-sm,.r3-sm,.r4-sm{
                margin: 11px;
                visibility: visible;
            }
        }
    }
}