footer{
    .contenedor{
        margin-left: 100px;
        margin-right:100px ;
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
    .derechos{
        font-family: 'IBM Plex Mono', monospace;
    }
    .redes{
        font-family: 'font_awesome_5_brands' ;
        font-family:'IBM Plex Mono', monospace;
        ul{
            list-style-type: none;
            display: flex;    
            margin: 0;
            margin-block: 0px;
            padding: 0;
            li{
               margin-left: 36px;
               i{
                   font-size: 20px;
               }
            }
        }
    }
}
}
@media(max-width:500px){
    footer{
        .contenedor{
            margin: 0px;
            display: flex;
            flex-direction: column;
        .derechos{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 14px;
            margin-top: 25px;
            margin-left: 47px;
        }
        .redes{
            font-family: 'font_awesome_5_brands' ;
            font-family:'IBM Plex Mono', monospace;
            margin-top: 20px;
            margin-left: 8px;
            ul{
                list-style-type: none;
                display: flex;    
                margin: 0;
                margin-block: 0px;
                padding: 0;
                li{
                   margin-left: 38px;
                   i{
                       font-size: 16px;
                   }
                }
            }
        }
        }
    }
}